{% extends 'base.html.twig' %}

{% block title %}- Inscription -{% endblock %}

{% block content %}
    {% if is_granted("ROLE_USER") %}
        <p>Vous êtes déjà connecté sous le nom de {{ app.user.username }},<br> <a href="{{ path('app_logout') }}">Déconnectez-vous</a>  Pour accéder a un autre compte. </p>

    {% else %}

    <div class="container">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        {{ form_start(registrationForm) }}
        <label for="">Nom d'utilisateur</label>
        {{ form_widget(registrationForm.username) }}
        <label for="">Email</label>
        {{ form_widget(registrationForm.email) }}
        <label for="">Mot de passe</label>
        {{ form_widget(registrationForm.plainPassword) }}
        {{ form_widget(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-outline-success">Inscription</button>
        {{ form_end(registrationForm) }}
    </div>
    {% endif %}

{% endblock %}
