{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block content %}

	<div class="container pt-4">


		{% if app.user %}
			<div class="mb-3">
				Tu es connecté en tant que
				{{ app.user.username }},
				<a href="{{ url('app_logout') }}">Déconnecte toi</a>
			</div>
		{% else %}

			{% for flash_error in app.flashes('verify_email_error') %}
				<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
			{% endfor %}

			<h1 class="h3 mb-3 font-weight-normal">Inscription</h1>

			{{ form_start(registrationForm) }}
			<label for="">Nom d'utilisateur</label>
			{{ form_widget(registrationForm.username) }}
			{{ form_errors(registrationForm.username) }}
			<label for="">Email</label>
			{{ form_widget(registrationForm.email) }}
			{{ form_errors(registrationForm.email) }}
			<label for="">Mot de passe</label>
			{{ form_widget(registrationForm.plainPassword.first) }}
			{{ form_errors(registrationForm.plainPassword.first) }}
			<label for="">Confirmation du mot de passe</label>
			{{ form_widget(registrationForm.plainPassword.second) }}
			{{ form_errors(registrationForm.plainPassword.second) }}
			{#<label for="">Role</label>
			{{ form_widget(registrationForm.roles, {'attr' : {'class': 'selectpicker'}}) }}#}
			<br>
			{{ form_widget(registrationForm.agreeTerms) }}
			{{ form_errors(registrationForm.agreeTerms) }}

			{{ form_rest(registrationForm) }}


			<button type="submit" class="btn btn-outline-success mb-5">Je valide mon inscription</button>
			{{ form_end(registrationForm) }}
		{% endif %}
	</div>

{% endblock %}
