{% extends 'base_back.html.twig' %}

{% block content %}

    <h1>Editer {{ categorie.name }}</h1>

    {{ form_start(form) }}

    <label for="">Titre : </label>
    {{ form_widget(form.name) }}



    {{ form_rest(form) }}

    <button type="submit">Confirmer</button>

    {{ form_end(form) }}

{% endblock %}