{% extends 'base_back.html.twig' %}

{% block content %}

    <div class="container">
        <h1>Editer l'article numéro {{ article.id }}</h1>

        {{ form_start(form) }}

        <label for="">Titre : </label>
        {{ form_widget(form.title) }}

        <label for="">Contenu : </label>
        {{ form_widget(form.content) }}

        <label for="">Categorie : </label>
        {{ form_widget(form.categories) }}

        <div class="row">
            <div class="col-md-6">
                {% if app.request.attributes.get('_route') == 'back_articles_edit' %}
                    <hr>
                    <h2>Gestion des images</h2>
                    {% for image in article.images %}
                        <div>
                            <img src="{{ asset('/uploads/'~image.name) }}" alt="" width="150">

                            {# We add a link to delete an image (will be managed in Ajax in images.js) #}
                            <a href="{{ path('back_articles_remove_image', {id: image.id})}}" data-delete data-token="{{ csrf_token('delete' ~ image.id )}}">Supprimer</a>
                        </div>
                    {% endfor %}
                {% endif %}

            </div>

            <div class="col-md-6">
                <label for=""> Ajout d'image(s) <small>(max: 2MB)</small></label>
                {{ form_widget(form.images) }}
                <hr>
                <label for=""> Ajout de lien de vidéo </label>
                {{ form_widget(form.videourl) }}
                <br>
                <button type="submit" class="btn btn-info">Confirmer</button>
            </div>
                {{ form_rest(form) }}
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}