{% extends 'base_back.html.twig' %}

{% block content %}

    {% for article in articles %}
        <div class="container">
            <ul style="list-style-type: none">
                <li>{{ article.title }}</li>
                <li>{{ article.content }}</li>
                <li>{{ article.createdAt|date('d-m-Y') }}</li>
            </ul>
            <a href="{{ path('article_edit', {id: article.id}) }}" class="btn btn-primary">
                Modifier
            </a>
            <a href="{{ path('show_Article', {id: article.id}) }}" class="btn btn-secondary">
                Afficher
            </a>
            <a href="{{ path('delete_article', {id: article.id}) }}" class="btn btn-danger">
                Supprimer
            </a>
        </div>
    {% endfor %}
    <hr>
    <a href="{{ path('create_article') }}" class="btn btn-primary">
        Créer une annonce
    </a>

{% endblock %}