{% extends 'base_back.html.twig' %}

{% block content %}

    <h1>Ajouter un article</h1>

    {{ form_start(form) }}

        <label for="">Titre : </label>
        {{ form_widget(form.title) }}

        <label for="">Contenu : </label>
        {{ form_widget(form.content) }}

        <label for="">Categorie : </label>
        {{ form_widget(form.categories) }}

        {{ form_rest(form) }}

        <button type="submit">Confirmer</button>

    {{ form_end(form) }}

{% endblock %}