<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div
		class="container-fluid">
		<!--<a class="navbar-brand" href="{{ url('front_home') }}">devBlog</a>-->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav me-auto">
				<li class="nav-item {{ app.request.get('_route') == 'front_home' ? 'active' : '' }}">
					<a class="nav-link" href="{{ url('front_home') }}">Accueil</a>
				</li>
				<li class="nav-item {{ app.request.get('_route') == 'front_contact' ? 'active' : '' }}">
					<a class="nav-link" href="{{ url('front_contact') }}">Contact</a>
				</li>
				{#<li class="nav-item dropdown">
				                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
				                    <div class="dropdown-menu">
				                        <a class="dropdown-item" href="#">Action</a>
				                        <a class="dropdown-item" href="#">Another action</a>
				                        <a class="dropdown-item" href="#">Something else here</a>
				                        <div class="dropdown-divider"></div>
				                        <a class="dropdown-item" href="#">Separated link</a>
				                    </div>
				                </li>#}
			</ul>
			{% if app.user %}
				<li class="nav-item {{ app.request.get('_route') == 'front_favorites' ? 'active' : '' }}" style="list-style-type: none;">
					<a class="btn btn-cta-secondary mr-5" href="{{ url('front_favorites', {id: app.user.id }) }}">
						<i class="bi bi-bookmark-dash-fill"></i>
						Mes favoris</a>
				</li>
			{% else %}
				<li class="nav-item {{ app.request.get('_route') == 'app_login' ? 'active' : '' }}" style="list-style-type: none;">
					<a class="btn btn-secondary mr-5" href="{{ path('app_login') }}">Se connecter</a>
				</li>
				<li class="nav-item {{ app.request.get('_route') == 'app_register' ? 'active' : '' }}" style="list-style-type: none;">
					<a class="btn primary-btn btn-info" href="{{ path('app_register') }}">Ouvrir un compte</a>
				</li>
			{% endif %}
			{% if is_granted('ROLE_USER') %}
				<li class="nav-item {{ app.request.get('_route') == 'front_articles_new' ? 'active' : '' }}" style="list-style-type: none;">
					<a class="btn btn-cta-primary mr-5" href="{{ url('front_articles_new') }}">Publier un article</a>
				</li>
			{% endif %}
			{% if is_granted('ROLE_ADMIN') %}
				<li class="nav-item {{ app.request.get('_route') == 'back_home' ? 'active' : '' }}" style="list-style-type: none;">
					<a class="btn btn-danger mr-5" href="{{ url('back_home') }}">Admin</a>
				</li>
			{% endif %}
			{% if app.user %}
				<li class="nav-item" style="list-style-type: none;">
					<a class="btn btn-close-white" href="{{ url('app_logout') }}">
						<i class="bi bi-box-arrow-left"></i>
						Déconnexion</a>
				</li>
			{% endif %}
		</div>
	</div>
</nav>
