{% extends 'base.html.twig' %}
{% block title %}
	- S'identifier -
{% endblock %}
{% block content %}


	<div class="container pt-4">

		{% if app.user %}
			<div class="mb-3">
				Tu es connecté en tant que
				{{ app.user.username }},
				<a href="{{ url('app_logout') }}">Déconnecte toi</a>
			</div>

		{% else %}
			<div class="row">
				<form method="post" class="col-sm-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}
					<h1 class="h3 mb-3 font-weight-normal">S'identifier</h1>
					<div class="form-group">
						<label for="inputEmail">Email</label>
						<input type="email" value="{{ last_username }}" name="_username" id="inputEmail" class="form-control" required autofocus>
					</div>
					<div class="form-group">
						<label for="inputPassword">Mot de passe</label>
						<input type="password" name="_password" id="inputPassword" class="form-control" required>
					</div>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<div class="checkbox mb-3">
						<label>
							<input type="checkbox" name="_remember_me" checked>
							Se souvenir de moi
						</label>
					</div>
					<button class="btn btn-lg btn-primary" type="submit">
						Me connecter
					</button>
					<a href="{{ url('app_forgot_password_request') }}">
						Mot de passe oublier</a>
				</form>
			</div>
		{% endif %}
	</div>

{% endblock %}
