{% extends 'base.html.twig' %}


{% block content %}

	<div class="container">
		{% for type, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ type }}">{{ message }}</div>
			{% endfor %}
		{% endfor %}
	</div>

	<!-- introduction + search -->
	<section id="hero" class="promo" >
		<div class="container text-center">
			<h2 class="title">dev<span class="highlight">Blog</span></h2>
			<div class="container pt-xxl-5 intro">
				{{ render(controller('App\\Controller\\Front\\FrontController::search')) }}
			</div>
			<ul class="meta list-inline list-group-item">
				{% for categorie in categories %}
					<li class="list-inline-item"><a href="{{ url('front_category', {name: categorie.name}) }}"> {{ categorie.name }} </a></li>
				{% endfor %}
			</ul>
		</div>
	</section>

{% endblock %}
