{% extends 'base.html.twig' %}


{% block content %}

	{% for type, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ type }}">{{ message }}</div>
		{% endfor %}
	{% endfor %}

	<section>
		<div class="container">
			<div class="media-container-row">
				<div class="title">
					<h1 class="align-center display-1">Symfony 5 BLOG</h1>
					<h3 class="align-center  display-5">Par <em>Walid BELBECHE & Access Code School Nevers 2022</em>&nbsp;</h3>
				</div>
			</div>
		</div>
	</section>
	<br>
	<!-- NEWSLETTERS -->
	<div class="container">
		{{ form_start(newsletters) }}
		<label for="">Email</label>
		{{ form_widget(newsletters.email) }}
		<br>
		<button type="submit" class="btn btn-outline-success">Je m'informe !</button>
		{{ form_end(newsletters) }}
	</div>
	<!-- ./ NEWSLETTERS -->
	{#<div class="header d-none d-lg-block">
		<strong>Meet your friends</strong>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error inventore laudantium obcaecati rem tenetur. At et fuga illo illum inventore maxime quas quia quo suscipit tempore. Aspernatur consequuntur maiores veritatis.
		</p>
	</div>#}

	<!-- Home Start -->
	{#<section class="py-5 text-center container">
		<div class="row py-lg-5">
			<div class="col-lg-6 col-md-8 mx-auto">
				<h1 class="fw-light">Bienvenue sur le blog Stay Online</h1>
				<code class="w3-codespan">('hello World!') !</code>
			</div>
		</div>
	</section>#}
	<!-- Home End -->

{% endblock %}
