{% extends 'base_back.html.twig' %}

{% block content %}

    <h1>Commentaires</h1>

    <a href="{{ url('back_category_add') }}">Ajouter un commentaire</a>

    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>Titre du commentaire</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.content }}</td>
                <td>
                    <a href="{{ url('back_categories_show', {id: comment.id }) }}">Voir</a>
                    <a href="{{ url('back_categories_edit', {id: comment.id }) }}">Editer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(comments) }}
    </div>

{% endblock %}