{% extends 'base.html.twig' %}

{% block content %}

    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url('front_home') }}">Accueil</a></li>
                <li class="breadcrumb-item active" aria-current="page">Création article utilisateur de {% if app.user %} {{ app.user.username }} {% endif %}</li>
            </ol>
        </nav>
    </div>

    <div class="b-example-divider"></div>

    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-4 fw-bold">Vous avez besoin d'échanger sur une problématique ? </h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">En tant qu'utilisateur de scriptzenit, vous êtes prioriataire sur notre forum,ce qui vous donne le droit d'intéragir avec nos fildèles sur le web et de bénficier d'une assistance permanante.</small>.</p>
        </div>
        <div class="overflow-hidden">
            <div class="container">

{#
                <img src="{{ asset('src/images/hero.jpg') }}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="hero" width="700" height="300" loading="lazy">
#}

                {% include 'front/includes/_article_form.html.twig' %}
                {% if app.request.attributes.get('_route') == 'back_articles_new' %}
                    <hr>
                    <h2>Gestion des images</h2>
                    {% for image in article.images %}
                        <div>
                            <img src="{{ asset('/uploads/'~image.name) }}" alt="{{ article.name }}" width="150">

                            {# We add a link to delete an image (will be managed in Ajax in images.js) #}
                            <a href="{{ path('back_articles_remove_image', {id: image.id})}}" data-delete data-token="{{ csrf_token('delete' ~ image.id )}}">
                                <i class="bi bi-file-earmark-x"></i>
                                Supprimer
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
