{% extends 'base.html.twig' %}

{% block content %}

    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url('front_home') }}">Accueil</a></li>
                <li class="breadcrumb-item active" aria-current="page">Création article utilisateur de {% if app.user %} {{ app.user.username }} {% endif %}</li>
            </ol>
        </nav>
    </div>

    <div class="container mt-4">
        <h1>Ajouter un article </h1>
        <h6>en tant que utilisateur, <small>nécessite une révision par un administrateur avant publication.</small></h6>

        {% if app.request.attributes.get('_route') == 'back_articles_new' %}
            <hr>
            <h2>Gestion des images</h2>
            {% for image in article.images %}
                <div>
                    <img src="{{ asset('/uploads/'~image.name) }}" alt="{{ article.name }}" width="150">

                    {# We add a link to delete an image (will be managed in Ajax in images.js) #}
                    <a href="{{ path('back_articles_remove_image', {id: image.id})}}" data-delete data-token="{{ csrf_token('delete' ~ image.id )}}">
                        <i class="bi bi-file-earmark-x"></i>
                        Supprimer
                    </a>
                </div>
            {% endfor %}
        {% endif %}
        <br>
        {% include 'front/includes/_article_form.html.twig' %}
    </div>
{% endblock %}
