{% extends 'base.html.twig' %}

{% block title %}
	-
	{{ article.title }}
	-
{% endblock %}

{% block content %}

	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ url('front_home') }}">Accueil</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">{{ article.slug }}</li>
			</ol>
		</nav>
	</div>
	<div class="container">
		{% if article.isPublished %}
			<small class="badge badge-success">Article publier</small>
		{% else %}
			<small class="badge badge-warning">Article en attente de relecture</small>
		{% endif %}
	</div>


	<article class="container mt-4 text-center">
		<h1>{{ article.title }}</h1>
		<br>
		<p class="text-secondary">Par
			<img src="{{ asset('uploads/avatar/' ~article.user.avatar) }}" alt="{{ article.user.username }}" class="rounded-0 img-thumbnail" width="50" height="50">
			{{ article.user.username }}
			| le
			{{ article.createdAt|format_datetime('full', 'short', locale='fr') }}
			|  modifié le
			{{ article.updatedAt|format_datetime('full', 'short', locale='fr') }}</p>


		{% for image in article.images %}
			<img src="{{ asset('uploads/' ~image.name) }}" alt="{{ article.slug }}" class="img-fluid">
		{% endfor %}

		<div class="mt-4">
			{{ article.content|raw }}
		</div>

		<h1>Commentaires
		</h1>

		{% for comment in comments %}
			{# dump the data in twig #}
			{#{{ dump(comment.user.username) }}#}
				<p>
				{{ comment.user.username }}
				à dit :
			{{ comment.content|raw }}
			</p>
		{% else %}
			<p>Pas de commentaires...</p>
		{% endfor %}

		{% if app.user %}
			<div class="form-group">
				{{ form_start(form) }}
				<label for="">Laisser un commentaire  en tant que
					{{ app.user.username }}</label>
				{{ form_widget(form.content) }}
				{{ form_rest(form) }}

				<button type="submit" class="btn btn-primary">Laisser un commentaire !</button>

				{{ form_end(form) }}
			</div>
		{% endif %}
	</article>
{% endblock %}
